.navbar {
    -webkit-box-shadow: 2px 2px 5px;
    box-shadow: 2px 2px 5px #fff;
    background: #000000;
    opacity: 0.8;




}

.nav-item {
    font-size: 1.4rem;
    padding-right: 20px;
}

.nav-item:last-child {
    padding-right: 0;
}

.nav-item .nav-link {
    color: #fff;

}

.nav-link:hover {
    color: #3292a6;
}

/*top section*/


#top {
    width: 100%;
    height: 100vh;
    background: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0.7)), to(rgba(0, 0, 0, 0.7))),
        url(img/bg.png) no-repeat center/cover;
    background: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)),
        url(img/bg.png) no-repeat center/cover;
    background-attachment: fixed;

}

#top h1 {
    display: inline-block;

}

#top p {
    font-size: 16px;
    text-align: justify;

}

#top .card-style {
    margin-top: 150px;

}

#top .card-style h3 {
    color: #333;
    font-size: 20px;
}



#top .card-style .btn-bg {
    background: #ff9b51;
    color: #fff;
    font-size: 15px;


}

/*social media seciton*/


#social-media {
    background: #fff;
    -webkit-box-shadow: 2px 2px 5px #333;
    box-shadow: 2px 2px 5px #333;

}

#social-media h4 {
    font-size: 20px;
    color: #333333;
}

#social-media p {

    font-size: 14px;
    color: #86878b;

}

#social-media .icons a {
    color: #cccccc;
    margin-right: 60px;
    font-size: 40px;
}

#social-media .icons a:hover {
    color: #333;
}

/*tab section*/
#tab {
    background: #f5f5f5;
    width: 100%;
    height: 70vh;
}


#tab .btn-custom {
    background: #ff8b38;
    width: 80px;
    height: 100px;
    color: #fff;
    margin-top: 60px;

}

#tab .btn-black {
    background: #333333;
    width: 80px;
    height: 100px;
    border: 1px solid #fff;
    color: #fff;
}

#tab .btn:hover {
    background: #ff8b38;

}

#tab h3 {
    font-size: 25px;
    font-weight: 700;
    display: inline-block;
    margin-top: 60px;
}

#tab p {
    font-size: 16px;
}

#tab .top-button {
    width: 120px;
    height: 45px;
    background: #ff8b38;
    color: #fff;

}


/*list section*/
#list {
    background: #fff;
    width: 100%;
    height: 85vh;
}

#list h3 {
    font-weight: 700;
    font-size: 25px;

}

#list .fa-cloud-upload-alt {
    width: 40px;
    height: 40px;
    color: #ff8b38;
    border: 2px solid #ff8b38;
    border-radius: 100%;
    background: #fff;
    padding: 8px 10px;

}

/*standard section*/
#standard {
    background: #f5f5f5;
    width: 100%;
    height: 85vh;
}

#standard h3 {
    font-weight: 700;
    font-size: 25px;
}

#standard p {
    font-size: 18px;
}

/*awesome section*/

#awesome {
    width: 100%;
    height: 85vh;

}

#awesome img {
    width: 50px;
    height: 50px;
    color: #ff8b38;
    border: 2px solid #ff8b38;
    border-radius: 100%;
    background: #fff;
    padding: 8px 10px;
}



/*price section*/
#price {
    background: #f5f5f5;
    width: 100%;
    height: 150vh;
}

#price h2 {
    margin-top: 70px;
    display: inline-block;
}




#price img {
    margin-left: 125px;
    margin-top: 50px;
}

.card {
    border: none;
    background: #ffffff;
}



#price .basic-enterprise-popular {
    width: 100%;
    height: 10px;

    background: #ff8b38;


}

#price .professional-popular {
    width: 100%;
    height: 100px;

    background: #ff8b38;
    color: #fff;
}

#price .professional-popular h5 {
    margin-top: 15px;
    display: inline-block;
}

/*Review section*/

#review {
    background: #fff;
    width: 100%;
    height: 80vh;


}

#review h2 {
    margin-top: 70px;
    display: inline-block;
}

#review img {
    margin-top: 150px;
}

/*style-axure-design*/



#style-axure-design {
    width: 100%;
    height: 50vh;
    background: -webkit-gradient(linear, left top, left bottom, from(rgba(245, 245, 245, 0.3)), to(rgba(245, 245, 245, 0.3))),
        url(img/style-section-bg.png) no-repeat center/cover;
    background: linear-gradient(rgba(245, 245, 245, 0.3), rgba(245, 245, 245, 0.3)),
        url(img/style-section-bg.png) no-repeat center/cover;
    background-attachment: fixed;

}

#style-axure-design h2 {
    color: #fff;
    font-size: 36px;
    font-weight: 700;
}

#style-axure-design p {
    color: #fff;
    font-size: 16px;

}

/*contact section*/

#contact-us {
    width: 100%;
    height: 100vh;
    background: -webkit-gradient(linear, left top, left bottom, from(rgba(245, 245, 245, 0.4)), to(rgba(245, 245, 245, 0.4))),
        url(img/contact-bg.jpg) no-repeat center/cover;
    background: linear-gradient(rgba(245, 245, 245, 0.4), rgba(245, 245, 245, 0.4)),
        url(img/contact-bg.jpg) no-repeat center/cover;
    background-attachment: fixed;





}

#contact-us h2 {
    margin-top: 60px;
    display: inline-block;

}

#contact-us .btn {
    margin-top: 40px;
}

#contact-us textarea {
    height: 190px;
}

#contact-us .btn-custom {
    width: 140px;
    height: 40px;
    background: #ff9b51;
    color: #fff;
    font-size: 15px;

}

/*footer part start*/
.footer-part {
    background: #000;
    width: 100%;
    height: 25vh;

}

.footer-part .icon a {
    margin: 20px;
    display: inline-block;
    font-size: 30px;
    color: #fff;
}
